<html>
<body>
<h1><em>My Internship Budget</em></h1>
<p>This is the expenditure of my allowance</p>
<div align="center">
<table>
  <caption><strong>A Stipend of R2000</strong></caption>
  <tr class="tr1">
    <th>Exspense</th>
    <th>Cost</th>
  </tr>
  <tr>
    <td class="td1">Transport </td>
    <td>R400</td>
  </tr>
  <tr>
    <td class="td2">Food</td>
    <td>R200</td>
  </tr>
  <tr>
    <td class="td3">Clothes</td>
    <td>R700</td>
  </tr>
  <tr>
    <td class="td4">Airtime</td>
    <td>R100</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Total</td>
    <td>R1500</td>
  </tr>
  <tr>
    <td>Savings</td>
    <td>R550</td>
  </tr>
</table>
</div>
</body>
</html>